
.footnote-simulation {
    font-size: smaller;
    padding-left: 2em;
    border-left: solid 2px grey;
    /*position: absolute;
    right: -20em;
    width: 20em;*/
    background-color: white;
    padding: 4px;

    display: none;
}
.footnote-marker {
    margin-left: 2px;
    color: blue !important;
    text-decoration: underline !important;
}
